/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Variables */
  /* Colors */
  --color-bg-primary: #15c997;
  --color-bg-secondary: #bcdb1a;
  --color-txt-primary: #000000;
  --color-txt-secondary: #bcdb1a;
  --color-btn-bg: #6dfd4c;
  --color-btn-txt: #000000;
  --clr-secondary: #e57400;
  --btn-clr-pimary: #c94f5b;
  --color-highlight: aliceblue;
  --color-overlay: rgba(0, 0, 0, 0.9);
  --color-cell-bg: gray;
  --color-cell-hover: #bdbaba;
  --color-cell-revealed: #ffffff;
  --color-cell-flagged: yellow;
  --color-cell-flagged-txt: white;

  /* shadows */
  --highlight-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);

  /* sizes  */
  --cell-size: 4rem;
  --modal-width: 250px;
  --modal-height: 250px;

  /* border radius */
  --modal-border-radius: 20%;
}

body {
  background-color: var(--color-bg-primary);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Utils */
.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.pointer-no {
  cursor: not-allowed;
}

.highlight {
  box-shadow: var(--highlight-shadow);
  border: 2px solid white;
}

/* Header Footer */
header,
footer {
  background-color: var(--color-bg-secondary);
  padding: 10px;
  width: 100%;
}

header h1 {
  margin: 1rem auto;
}

footer {
  text-align: center;
  line-height: 2rem;
  height: 3rem;
}

/* Game */

.game-board {
  min-height: 180px;
}

.game-over {
  pointer-events: none;
  cursor: not-allowed;
}

/* Stats */
.stats {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  justify-content: center;
  align-items: center;
  margin: 1rem, auto;
}

.display {
  min-height: 2rem;
  /* border: 1px solid black; */
  margin: 1rem 0.5rem;
  padding: 1rem;
  font-size: 1.3rem;
}

.emoji {
  padding: 1rem;
  /* border: 1px solid red; */
  transition: scale 0.8s ease-in-out;
  font-size: 2.5rem;

  user-select: none;
}
.emoji:hover {
  scale: 1.1;
}

.lives {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.difficulty {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.hints h3 span {
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.2rem 0.8rem;
  margin-block-start: 0.5rem;
}

/* Table */
.main table {
  border-collapse: collapse;
  margin: 1rem auto 1.4rem;
  border-radius: 1rem;
}

td {
  width: 4rem;
  height: 4rem;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  border: 1px solid #333;
}

/* Cell */
.cell {
  min-width: var(--cell-size);
  min-height: var(--cell-size);
  font-size: 3rem;
  background-color: var(--color-cell-bg);
  cursor: pointer;
  padding: auto;
  transition: background-color 0.4s ease-in, color 0.4s ease;

  user-select: none;
}

.cell:hover {
  background-color: rgb(189, 186, 186);
}

.not-shown {
  color: transparent;
}

/* for debugging 
.mine {
  background-color: red;
} 
*/

.shown {
  background-color: white;
  cursor: not-allowed;
}

.selected {
  opacity: 0.9;
  border: 2px solid var(--bg-btn-clr);
}

.marked {
  background-color: yellow;
  color: white;
}

/* Button */
.btn {
  padding: 1rem 2rem;
  border: 1px solid var(--clr-secondary);
  background-color: var(--btn-clr-pimary);
  color: black;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.8s;
}
.btn:hover {
  padding: 1rem 2rem;
  border: 1px solid var(--btn-clr-pimary);
  background-color: var(--clr-secondary);
  color: black;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
}

/* Modal */
.modal {
  /* use fixed to position relative to the viewport */
  position: fixed;
  top: 50%;
  left: 50%;
  /* center it horizontally and vertically */
  transform: translate(-50%, -50%);
  background-color: var(--color-cell-bg);
  color: var(--color-cell-flagged-txt);
  min-width: var(--modal-width) x;
  min-height: var(--modal-height);
  /* above other elements */
  z-index: 1000;
  border-radius: var(--modal-border-radius);
  padding: 2rem;
}
.modal h2.modal-title {
  margin: 1rem auto;
}
.modal p {
  margin: 1rem auto;
}

.modal-overlay {
  /* all screen overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 70% opacity black  */
  background-color: var(--modal-overlay);
  /* below the modal but above everything else */
  z-index: 999;
}

/* Scorboard */
.scoreboard {
  position: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 3rem;
}
